extends layout

block content
  h1= title
  h3 Please select a room:
  div(ng-controller="QuickView as quick")
    select(ng-model="quick.curBuilding")
      each building in buildings
        option(value=building['building_code']) #{building['building_code']} - #{building['building_name']}
    input(ng-model="quick.curRoomNum" type="text" name="roomNum")
    button(ng-click="quick.getTimes()" type="button") Hey!!
    p {{quick.curBuilding}} {{quick.curRoomNum}}