extends layout

block content
  h1= title
  h3 Here are all class times in RCH 302:
  table
    thead
      tr
        th(scope="col") Time
        th(scope="col") Availability
    tbody
      each val in times
        tr
          td= val[0] + "-" + val[2]
          td(class=val[3] ? "avail" : "not-avail")= val[3] ? "Available" : "Not Available"