doctype html
html(ng-app="empty-rooms")
  head
    title= title
    // Bootstrap
    link(rel='stylesheet', href='/bootstrap-3.3.5-dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap-3.3.5-dist/js/bootstrap.min.js')

    // Custom styles
    link(rel='stylesheet', href='/stylesheets/style.css')

    // Fonts
    link(href='http://fonts.googleapis.com/css?family=Raleway:300', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Merriweather', rel='stylesheet', type='text/css')

    //Angular
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js')
    script(src='/js/angularApp.js')
  body
    block content