doctype html
html
  head
    title= title
    // Bootstrap
    link(rel='stylesheet', href='/bootstrap-3.3.5-dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap-3.3.5-dist/js/bootstrap.min.js')

    // Custom styles
    link(rel='stylesheet', href='/stylesheets/style.css')

    // Fonts
    link(href='http://fonts.googleapis.com/css?family=Raleway:300', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Merriweather', rel='stylesheet', type='text/css')
  body
    block content